# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Benjamin Bogenberger
name: Benjamin Bogenberger
position: PhD Candidate
email: benx.bogenberger@tum.de
description: >-
  I am a PhD candidate at [Prof. Schoellig](https://www.ce.cit.tum.de/lsy/prof-angela-schoellig/)'s lab at the Technical University of Munich. My main interests include control for complex systems, semantic reasoning, and robotics. Previously, I completed a M.Sc. degree in Electrical Engineering at TUM. I was at [BMW](https://www.bmw.com/), where I wrote my master's thesis with [Prof. Nenchev](https://www.unibw.de/code-en/professors/vladislav-nenchev), and at [Rohde & Schwarz](https://www.rohde-schwarz.com/).
baseurl: "" # the subpath of your site, e.g. /blog
url: "benjamin.bogenberger.de" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: 
github_username: Uspfe
github_repository: uspfe.github.io
linkedin_name: benjamin-b-35270b217
google_scholar: BnddWQsAAAAJ
#google_analytics: G-MFWSBLRKG0

# Build settings
theme: minima
plugins:
  - jekyll-feed

sass:
  style: compact

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
