---
permalink: /robotics_conferences_analyzed/
layout: default
---

<h2 class="title is-3 anchor" id="publications">Robotics Conferences Analyzed</h2>

<p class="content has-text-justified">I analyzed the contributions for robotics conferences. The data is from <a href="https://ras.papercept.net">ras.papercept.net</a>. The source code for generating the plots is <a href="https://github.com/OliEfr/ICRA_2024_analyzer">here</a>. Featured in various <a href="https://www.linkedin.com/posts/ut-texas-robotics_icra2025-activity-7329236498334003201-tTmu?utm_source=share&utm_medium=member_desktop&rcm=ACoAACS_0ocBmyq6fYynuvsNzpZNVQH22nqoAfU">posts</a>, <a href="https://www.linkedin.com/posts/mirmi-tum_icra2025-robotics-ai-activity-7328700616355016704-v8qH?utm_source=share&utm_medium=member_desktop&rcm=ACoAACS_0ocBmyq6fYynuvsNzpZNVQH22nqoAfU">posts</a>, <a href="https://www.mirmi.tum.de/mirmi/aktuelles/article/robotik-gemeinsam-vorantreiben-treffen-sie-mirmi-auf-der-icra-2025/">posts</a>.</p>  

{% for conference in site.data.robotics_conferences_analyzed %}
<h2 class="title is-4 anchor" style="margin-top: 1.5em;" id="{{conference.name}}">{{conference.name}}</h2>

  {% for image in conference.images %}

  <img alt="{{ conference.name }}" class="conference_analyzed" src="/{{ image }}" /> 

  {% endfor %}
{% endfor %}


